<main class="shop-container">
  <h1 class="shop-title">Malinka Collection</h1>

  @if (errorMessage) {
  <p class="status-message error">{{errorMessage}}</p>
  }
  @if (products.length === 0 && !errorMessage) {
  <p class="status-message loading">
    <img src="./icons/loading.gif" alt="loading">
  </p>
  }
  <div class="product-grid">
    @for (product of products; track product) {
    <div class="product-card">
      <a [routerLink]="['/product', product._id]">
        <div class="product-image">
          <img [src]="product.imageUrl || './misc/no-image.png'" alt="{{product.title}}">
        </div>
        <div class="product-info">
          <div class="high-part">
            <div class="title-and-price">
              <h3 class="product-title">{{product.title}}</h3>
              <p class="product-price">{{product.price | currency}}</p>
            </div>
            <a class="favorite-badge" (click)="toggleLike($event, product._id)">
              <p [class]="productsService.isFavorite(product._id) ? 'fas fa-heart' : 'far fa-heart'">{{
                productsService.isFavorite(product._id) ? '♥' : '♡' }}</p>
            </a>
          </div>


          <!-- <div class="favorite-badge" (click)="toggleLike($event, product._id)">
            <i [class]="productsService.isFavorite(product._id) ? 'fas fa-heart' : 'far fa-heart'">Like</i>
          </div> -->
          <button class="btn-cart" (click)="addToCart($event, product._id)">
            Add to cart
          </button>
        </div>
      </a>
    </div>
    }
  </div>
  <div *ngIf="showToast" class="simple-toast" [class.error]="isError">
    <span class="toast-icon">{{ isError ? '⚠️' : '🍓' }}</span>

    <span class="message-text">
      {{ toastMessage }}
      <strong *ngIf="clickCount > 1" class="count-badge">x{{ clickCount }}</strong>
    </span>
  </div>
</main>