<footer>

    <nav class="first-nav">
        <ul>
            <li><a href="#">General</a></li>
            <li><a href="about">About us</a></li>
            <li><a href="contact">Contact</a></li>
            <li><a href="#">Jobs</a></li>
        </ul>
    </nav>
    
    <nav class="second-nav">
        <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Cookie policy</a></li>
        </ul>
    </nav>

    <nav class="social-nav">
        <ul>
            <li><a href="https://web.telegram.org/">Telegram</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
        </ul>
    </nav>

    <em class="Corporation">© 2026 Malinka – The best store</em>

</footer>