.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 110px 20px 40px 20px;
}

.contact-card {
    background: #1a1a1a;
    padding: 20px 40px;
    border-radius: 20px;
    border: 1px solid #333;
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: center;
}

.user-info h1 span {
    color: #f10020;
}

.user-info h1 {
    margin-bottom: 8px;
}

.user-info .label{
    margin: 0 0 30px 0;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.contact-input {
    margin: 10px 0;
    font-family: inherit;
}

textarea.contact-input {
    resize: none;
}

.btn {
    margin-top: 25px;
}

.direct-contacts {
    margin-top: 35px;
    padding-top: 25px;
    border-top: 1px solid #333;
    display: flex;
    justify-content: space-around;
}

.label {
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.contact-value {
    font-size: 14px;
    color: #f10020;
    margin: 0;
}

.contact-label{
    font-size: 14px;
}

.faq-promo {
    margin-top: 30px;
    padding: 20px;
    background: #242424;
    border: 1px solid #333;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center; 
}

.faq-text h3 {
    margin: 0 0 5px 0;
    font-size: 1rem;
    color: white;
}

.faq-text p {
    margin: 0;
    color: #ccc;
    font-size: 0.85rem;
}

.faq-btn {
    background: #1a1a1a;
    color: #f10020;
    border: 1px solid #f10020;
    width: auto;
    font-size: 13px;
    margin: 0;
    text-decoration: none;
}

.faq-btn:hover {
    background: #f10020;
    color: white;
}

.readonly-input {
    color: #888;
    cursor: not-allowed;
    border-color: #333;
    background: #1e1e1e;
}

.readonly-input:focus {
    border-color: #333;
}


.guest-notice {
    padding: 20px;
    background: #242424;
    border-radius: 12px;
    margin-bottom: 25px;
    border: 1px solid #f10020;
}

.guest-notice p {
    margin: 0;
    color: #ccc;
    font-size: 14px;
}

.guest-notice a {
    color: #f10020;
    text-decoration: none;
    font-weight: bold;
}

.guest-notice a:hover {
    text-decoration: underline;
}