<app-header></app-header>

<router-outlet></router-outlet>

@if (toast.showToast) {
<div class="simple-toast" [class]="'type-' + toast.currentType">
    <div class="toast-icon">{{ toast.currentIcon }}</div>

    <div class="toast-content">
        <div class="message-title">{{ toast.messageTitle }}</div>
        <div class="message-body">
            <span class="message">{{ toast.toastMessage }}</span>
        </div>
    </div>

    @if (toast.clickCount > 1) {
    <span class="count-badge">x{{ toast.clickCount }}</span>
    }
</div>
}

<app-footer></app-footer>