<main class="profile-container">
  @if (user()) {
    <div class="profile-card">
      
      <div class="user-info">
        <h1>Welcome, <span>{{ user().name }}</span>!</h1>
        <p class="email-label">Email address</p>
        <p class="email-value">{{ user().email }}</p>
      </div>

      <button class="logout-btn btn" (click)="onLogout()">Logout</button>
    </div>
  } @else {
    <div class="guest-card">
      <p>Please, log in to see your profile.</p>
      <button routerLink="/login" class="login-link btn">Go to Login</button>
    </div>
  }
</main>